/*if you need to make any style changes do it here 
  this code should override the base bootstrap stuff*/

/*I tried not to write much css to style the webpage, 
  instead my css is there to add in some functionality */
/*custom background color*/
body {background-color: #F3F3F3;}


/*this code here enables hover functionality for dropdown menus */
.dropdown:hover>.dropdown-menu {
  display: block;
}

#dropdownMenuLink{
}

/*
.example {
  background-color: #943A3B;
}
*/

.noPad {
  padding: 0 ! important;
}

.grayBox {
  width: 100%;
  height: 70px;
}

.redBox {
  background-color: #943A3B;
  width: 100%;
  height: 100px;
  padding: 0;
}

/* uncomment this out for troubleshooting help
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/


/* Jack's Custom CSS*/
/*collapsed/mobile Burger styling*/

.whiteBox {
	background-color: #FFFFFF;
	box-shadow: 0px 1px 10px 1px rgba( 0, 0, 0, 0.15);
}

.redblock{
	background-color: #993434;
}

.burger-cust {
	background: -webkit-gradient(linear, center top, center bottom, from(#993434), color-stop(100%, #751616));
	border-radius: 0;
	height: 100%;
}

.Headerbutton-cust {
		background: white;
		color:#7F7F7F;
		border-radius: 0;
		font-size: 22px;
		font-family: "Bebas Kai";
}

.Headerbutton-cust:hover {
		background: -webkit-gradient(linear, center top, center bottom, from(#993434), color-stop(100%, #751616));
		color: white;
}

.Headerbutton-cust:active {
		background: #7F7F7F;
		color: white;
}

.bigtext {
	font-size:42px;
	font-family: "Bebas Kai";
 	color: #7F7F7F;
}
.bigtextwhite{
	color:white;
}
.smallertext {
	font-size:18px;
	font-family: "Carrois Gothic";
 	color: #7F7F7F;
}

.formspree_input {
	color: #7F7F7F;
	border-width: 1px;
	min-height: 42px;
	font-family: "Carrois Gothic";
	background-color: #FFFFFF;
	font-size: 19px;
	border-color: #993434;
	border-style: solid;
	border-radius: 3px;
	line-height: 37px;
	padding-left: 1%;
}

.pagebutton {
	color: #7F7F7F;
	border-width: 1px;
	min-height: 42px;
	font-family: "Carrois Gothic";
	z-index: 66;
	background-color: #FFFFFF;
	font-size: 19px;
	border-color: #993434;
	border-style: solid;
	border-radius: 3px;
	font-weight: 400;
	line-height: 37px;
	font-color: #993434;

}
.pagebutton:hover {
	background: -webkit-gradient(linear, center top, center bottom, from(#993434), color-stop(100%, #751616));
	background: -webkit-linear-gradient(top, #993434, #751616 100%);
	background: linear-gradient(to bottom, #993434, #751616 100%);

	color: white;
}
.pagebutton.ButtonSelected {
	background: -webkit-gradient(linear, center top, center bottom, from(#993434), color-stop(100%, #751616));
	background: -webkit-linear-gradient(top, #993434, #751616 100%);
	background: linear-gradient(to bottom, #993434, #751616 100%);

	color: white;

}.dropdownButton {
		background: linear-gradient(to bottom, #7F7F7F, #707070 100%);
		color: white;
		font-size: 22px;
		font-family: "Bebas Kai";
		
}
.dropdownButton:hover {
		background: -webkit-gradient(linear, center top, center bottom, from(#993434), color-stop(100%, #751616));
		color: white;
}
.dropdownButton:active {
		background: -webkit-gradient(linear, center top, center bottom, from(#993434), color-stop(100%, #751616));
		color: white;
}
