/*if you need to make any style changes do it here 
  this code should override the base bootstrap stuff*/

/*I tried not to write much css to style the webpage, 
  instead my css is there to add in some functionality */

/*this code here enables hover functionality for dropdown menus */
.dropdown:hover>.dropdown-menu {
  display: block;
}

#dropdownMenuLink{
}

/*
.example {
  background-color: #943A3B;
}
*/

.noPad {
  padding: 0 ! important;
}

.grayBox {
	background-color: #EAEAEA;
  width: 100%;
	height: 100px;
}

.redBox {
  background-color: #943A3B;
  width: 100%;
  height: 100px;
  padding: 0;
}

/* uncomment this out for troubleshooting help
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/